.content {
  display: grid;
  grid-template: 1fr / minmax(200px, 232px) minmax(300px, 500px);
  grid-gap: 20px;

  &__tickets {
    display: grid;
    grid-template: 50px 1fr / 1fr;
    grid-auto-rows: max-content;
    grid-gap: 20px;
    margin-bottom: 120px;
  }

  @media (max-width: 680px) {
    grid-template: 1fr / 1fr;
    grid-gap: 20px;
  }
}
